* {
    margin: 0;
    padding: 0;
}

.box {
    width: 1240px;
    height: 628px;
    background-color: skyblue;
    margin: 30px auto;
}

.left {
    width: 234px;
    height: 614px;
    background-color: red;
    float: left;
}

.right {
    width: 978px;
    height: 628px;
    background-color: pink;
}