* {
    margin: 0;
    padding: 0;
}

.box {
    width: 1240px;
    height: 628px;
    background-color: skyblue;
    margin: 30px auto;
}

.box .left {
    width: 234px;
    height: 614px;
    background-color: red;
    float: left;
}

.box .right {
    width: 978px;
    height: 628px;
    background-color: pink;
    float: left;
}

.box .right .card {
    width: 234px;
    height: 260px;
    padding: 20px 0;
    margin: 0 0 14px 14px;
    text-align: center;
    background-color: yellow;
}