body {
    /* 设置字体 */
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
h1 {
    /* 不加粗 */
    font-weight: normal;
    /* 居中 */
    text-align: center;
}