* {
    margin: 0;
    padding: 0;
}

.kuaibao {
    margin: auto;
    width: 264px;
    height: 163px;
    border: 1px solid #ccc
}

.kuaibao a {
    text-decoration: none;
}

.kuaibao .title {
    width: 100%;
    height: 35px;
    background-color: rgb(148, 38, 38);
}