.nav a {
    /* 设置为行内块/ */
    display: inline-block;
    width: 120px;
    height: 60px;
    background-color: pink;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.nav .bg1 {
    background-image: url(imgs/bg1.png);

}

.nav .bg2 {}

.nav .bg3 {}

.nav .bg4 {}

.nav .bg5 {}