* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header,
.box,
.footer {
    margin: 0 auto;
    width: 1200px;
    background-color: gray;

}

.header {
    margin: 30px auto;
    height: 42px;
}

.header .logo {
    float: left;
    width: 198px;
    height: 42px;
    /* background-color: pink; */
}

.header .nav {
    float: left;
    margin-left: 60px;
}

.header .nav li {
    margin: 0 15px;
    float: left;
}

.header .nav li a {
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    color: #050505;
}

.header .nav li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

/* 搜索模块 */
.header .search {
    width: 412px;
    height: 42px;
}

.box {
    height: 500px;
}

.footer {
    height: 42px;
}